<div class="container">
    <div class="row">
        <div class="column logo">
            <app-logo></app-logo>
        </div>
        <div class="column">
            <div>
                <div class="column-label">
                    {{labels.explore}}
                </div>
                <ul>
                    <li>
                        <a routerLink="aboutme">{{footerNav.about}}</a>
                    </li>
                    <li>
                        <a routerLink="contact">{{footerNav.contact}}</a>
                    </li>
                    <li>
                        <a routerLink="portfolio">{{footerNav.portfolio}}</a>
                    </li>
                   
                </ul>
            </div>
            
        </div>
        <div class="column">
            <div>
                <div class="column-label">
                    {{labels.social}}
                </div>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/grzegorz-aszlar/">
                            <div class=social>
                                <img [src]="'assets/Linkedin.svg'" />
                                <span>Linkedin</span> 
                            </div>  
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Xansher">
                            <div class=social>
                                <img [src]="'assets/Github.svg'" />
                                <span>GitHub</span> 
                            </div>  
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/grzes_czesc/">
                            <div class=social>
                                <img [src]="'assets/Instagram.svg'" />
                                <span>Instagram</span> 
                            </div>  
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="column contact">
             <div class="column-label">
                {{labels.contact}}
            </div>
            <div>
                <div class="contact-email">
                    Email: grzesiek.aszlar@gmail.com
                </div>
                <div class="contact-text">
                    {{labels.contactText}}
                </div>
            </div>
            
        </div>
    </div>
    <hr>
    <div class="row right">
        <div>
            Copyright ©2021 Grzegorz Aszlar
        </div>
    </div> 
</div>