<div class="container">
    <div class="label-container">
        Contact
    </div>
    <div class="text-container">
        <div class="text-label">
            I will response!
        </div>
        <div>
            Fell free to contact me by email or contact form.
        </div>
    </div>
    <div class="flex">
        <div class="social-container">
            <div class="email-container">
                <mat-icon>email</mat-icon>
                <div>grzesiekszlar@gmail.com</div>
            </div>
            <div class="media-container">
                <div class="social">
                    <a href="https://www.linkedin.com/in/grzegorz-aszlar/">
                        <img [src]="'assets/Linkedin.svg'" />
                    </a>
                </div>
                <div class="social">
                    <a href="https://github.com/Xansher">           
                            <img [src]="'assets/Github.svg'" />
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.instagram.com/grzes_czesc/">
                            <img [src]="'assets/Instagram.svg'" />
                    </a>
                </div>
            </div>
        </div>
        <div class="form-container">
            <app-form-contact #form (onSend)="send($event)"></app-form-contact>
        </div>
        

    </div>
    
</div>
<app-footer></app-footer>