<div  class="ng-slider">
    <div class="ng-slider-container">
        <div #main  class="main"
        [ngStyle]="{'height': cardHeight+'px'}" 
        >
            <div *ngIf="list && list.length>0" class="inner">
                <div *ngFor="let item of list; let index;" [ngStyle]="{'margin' : '0 5px', 'height': cardHeight+'px','transform': 'translateX('+translate+'px)' , 'min-width': cardWidth+'px'}" class="skill-container">
                    <div class="skill">
                        <img [src]="item.icon"/>
                        <div> {{item.name}} </div>
                    </div>
                    
                </div>
            </div>     
        </div>
        <a class="prev" *ngIf="leftArrowVisible" (click)="prev()">&lsaquo;</a>
        <a class="next" *ngIf="rightArrowVisible" (click)="next()">&rsaquo;</a>
    </div>
</div>