<mat-toolbar color="secondary">
    <div class="logo-container">
        <app-logo></app-logo>
    </div>
    
    <div class="menu-button" (click)="toggleMenu()">
        <img [src]=" 'assets/Icon material-menu.svg' "/>
    </div>

    <div class="nav-container" [class.opened]="menuVisible">
        <div (click)="toggleMenu()" class="menu-exit">
            <mat-icon>close</mat-icon>
        </div>
        <div>
            <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">{{model.home}}</a>
        </div>
        <div >
            <a mat-button routerLinkActive="active" routerLink="aboutme">{{model.aboutme}}</a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="contact">{{model.contact}}</a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="portfolio">Portfolio</a>
        </div>
        <div>
            <a mat-button routerLinkActive="active" routerLink="settings">{{model.settings}}</a>
        </div>
        <div class="space">

        </div>
    
        <div>
            <button mat-button type="button" (click)="changeLanguage()">
                ENG/PL
            </button>
        </div>
        <div class="mar-left">
            <a mat-button routerLink="login" class="btn">{{model.login}}</a>
        </div>
    
    </div>
        
    
</mat-toolbar>