<mat-toolbar color="secondary">
    <div class="logo-container">
        <app-logo></app-logo>
    </div>
    
    <div class="menu-button" (click)="toggleMenu()">
        <img [src]=" 'assets/Icon material-menu.svg' "/>
    </div>

    <div class="nav-container" [class.opened]="menuVisible">
        <div (click)="toggleMenu()" class="menu-exit">
            <mat-icon>close</mat-icon>
        </div>
        <div (click)="hideMenu()">
            <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">{{model.home}}</a>
        </div>
        <div (click)="hideMenu()">
            <a mat-button routerLinkActive="active" routerLink="aboutme">{{model.aboutme}}</a>
        </div>
        <div (click)="hideMenu()">
            <a mat-button routerLinkActive="active" routerLink="contact">{{model.contact}}</a>
        </div>
        <app-authorize-view [role]="'admin'">
            <ng-container authorized>
                <div class="admin-nav-container">
                    <div (click)="hideMenu()">
                        <a mat-button routerLinkActive="active" routerLink="portfolio">Portfolio</a>
                    </div>
                    <div (click)="hideMenu()"> 
                        <a mat-button routerLinkActive="active" routerLink="settings">{{model.settings}}</a>
                    </div>
                </div>
            </ng-container>
        </app-authorize-view>
        
        <div class="space">

        </div>
    
        <div>
            <button mat-button type="button" (click)="changeLanguage(); hideMenu()">
                ENG/PL
            </button>
        </div>
        <app-authorize-view>
            <ng-container authorized>
                <div class="mar-left">
                    <a mat-button (click)="logout(); hideMenu()" class="btn">{{model.logout}}</a>
                </div>
            </ng-container>
            <ng-container notAuthorized>
                <div class="mar-left" (click)="hideMenu()">
                    <a mat-button routerLink="login" class="btn">{{model.login}}</a>
                </div>
            </ng-container>
        </app-authorize-view>
        
    
    </div>
        
    
</mat-toolbar>