<mat-toolbar color="secondary">
    <div class="logo-container">
        <app-logo></app-logo>
    </div>
    
    <div class="menu-button" (click)="toggleMenu()">
        <img [src]=" 'assets/Icon material-menu.svg' "/>
    </div>

    <div class="nav-container" [class.opened]="menuVisible">
        <div (click)="toggleMenu()" class="menu-exit">
            <mat-icon>close</mat-icon>
        </div>
        <div>
            <a mat-button routerLink="">Home</a>
        </div>
        <div>
            <a mat-button routerLink="aboutme">About me</a>
        </div>
        <div>
            <a mat-button routerLink="skills">Skills</a>
        </div>
        <div>
            <a mat-button routerLink="experience">Experience</a>
        </div>
        <div>
            <a mat-button routerLink="contact">Contact</a>
        </div>

        <div class="space">

        </div>
    
        
        <div>
            <a mat-button routerLink="login" class="btn">Login</a>
        </div>
        <div class="mar-left">
            <a mat-button routerLink="register" class="btn">Register</a>
        </div>
    </div>
        
    
</mat-toolbar>