<form [formGroup]="form" (submit)="saveChanges()">
    <mat-form-field appearance="outline">
        <mat-label>Name of skill</mat-label>
        <input matInput formControlName="name" />
        <mat-error>The name field is required</mat-error>
    </mat-form-field>

    <h2>Select icon</h2>
    <app-input-img [currentImageURL]="model?.icon" (onImageSelected)="onImageSelected($event)"></app-input-img>

    <h2>Description</h2>
    <app-input-markdown [label]="label" [markdownContent]="model?.description" (changeMarkdown)="changeMarkdown($event)"></app-input-markdown>

    <div style="margin-top: 1rem;">
        <button mat-flat-button color="accent">Save changes</button>
        <a mat-flat-button color="warn" routerLink="/skills">Cancel</a>
    </div>
    
</form>