
    <div class="experience-container">
        <div *ngFor="let model of list" class="experience">
            <div class="date-container">
                <div >{{format(model.startDate)}}</div>
                <div class="date-separator">-</div>
                <div>{{format(model.endDate)}}</div>
            </div>
            <div class="position">
                {{model.position}}
            </div>
            <div class="company">{{model.company}}</div>
            <div class="description">
                <div *ngIf="language=='english'">
                    <markdown [data]="model.englishDuties"></markdown>
                </div>
                <div *ngIf="language=='polish'">
                    <markdown [data]="model.polishDuties"></markdown>
                </div>
            </div>
        </div>  
    </div>
