<div style="background-color: #fff;">
</div>
<div style="padding: 1rem;">
    <div style=" width: 100%; height: 100%;">
        <div class="container">
            <div class="item2 gradient-border">
                <img [src]="'https://fwcdn.pl/ppo/59/53/5953/449716.2.jpg'" width="100%" height="100%" />
            </div>
            <div class="item">
                <div class="item-margin">
                    <h1>About me</h1>
                    Siema asdasdasdasdasd asdasdasdasdas dasd asd asd  asdas sadasdadas das dSiema asdasdasdasdasd asdasdasdasdas dasd asd asd  asdas sadasdadas das dSiema asdasdasdasdasd asdasdasdasdas dasd asd asd  asdas sadasdadas das dSiema asdasdasdasdasd asdasdasdasdas dasd asd asd  asdas sadasdadas das d
                </div>
                
            </div>
           
        
        </div>
    </div>
</div>
   
    

