<div class="container">
    <div class="row">
        <div class="column-1">
            <div class="label-container">
                <div class="label">
                    {{labels[0]}}  
                </div>      
            </div>
        </div>
        <div class="column-2">
            
            <markdown *ngIf="language=='english' " [data]="aboutMe.englishDescription"></markdown>
            <markdown *ngIf="language=='polish' " [data]="aboutMe.polishDescription"></markdown>
        </div>
        <div class="column-3">
            <img [src]="aboutMe.photo"/>
        </div>
    </div>
    <div class="row">
        <div class="column-1">
            <div class="label-container">
                <div class="label">
                    {{labels[1]}}  
                </div>      
            </div>
        </div>
        <div class="column-2">
            <app-slider *ngIf="skills && skills.length>0" [list]="skills">
                
            </app-slider>
        </div>
    </div>
    <div class="row">
        <div class="column-1">
            <div class="label-container">
                <div class="label">
                    {{labels[2]}}  
                </div>      
            </div>
        </div>
        <div class="column-2">
            <app-experience [list]="expList"></app-experience>
        </div>
    </div>
</div>
   
<app-footer></app-footer>

