/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  min-height: 100vh ; 
  font-family: 'Poppins'; 
  background: linear-gradient(90deg, #020202 6%, #303030 100%);
  color: #fff
}
*,::after,::before{box-sizing:border-box;}

.item-margin{
    margin-left: 5rem;
  }


  .flex-center{
      position: relative;
      top: 4rem;
  }
  @media only screen and (max-width: 900px) {
    .flex-center{
        
        top: 14rem;
    }
  }

  .gpad {
    padding: 0 1em;
}


.add-button {
  color: rgb(22, 22, 22);
  background: rgb(82, 189, 82);
}
.edit-button {
  background-color: rgb(38, 101, 235);
}

@media only screen and (min-width:768px){
    .gpad {
        padding: 0 5rem;
    }
}