.container {
    display: flex;
    flex-direction: column-reverse;
    
    background: linear-gradient(90deg, #FFFFFF 63.05%, #808080 100%);
}

.column {
    max-width: 100%;
}
.column-container{
    padding: 0 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.label {
    font-size: 92px;
    font-weight: bold;
    color: #43A1FF;
    letter-spacing: 0.15em
}

.label-2 {
    color:  black;
    font-size: 30px;
    font-weight: bold;
}

.label-3 {
    color: black;
    font-size: 22px;
    font-weight: 200;
    padding-bottom: 1rem;
}

.img-container {
    max-width: inherit;
    display: flex;
    
}

.img-container img {
    max-width: 100%;
    height: auto;
}


@media only screen and (min-width: 768px){
    .container {
        flex-direction: row-reverse;
        min-height: 92vh;
    }
    
    .column {
        width: 60%;
    }

    .center {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .column-container{
        padding: 0 1em;
        display: flex;
        justify-content: center;
        text-align:left
    }

    .img-container img {
        position:absolute;
        left: -3px;
        max-height: 92vh;
        height: 100%;
    }
}