.container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1em;
}

.column {
    max-width: 100%;
}

.center {
    text-align: center;
    position:relative;
    top: -3rem
}
.label {
    font-size: 92px;
    font-weight: bold;
    color: #43A1FF;
    letter-spacing: 0.15em
}

.label-2 {
    font-size: 30px;
    font-weight: bold;
}

.label-3 {
    font-size: 22px;
    font-weight: 200;
    padding-bottom: 1rem;
}

.img-container {
    max-width: inherit;
    display: flex;
    justify-content: center;
}

.img-container img {
    max-width: 70%;
    height: auto;
}


@media only screen and (min-width: 768px){
    .container {
        flex-direction: row;
        min-height: 88vh;
    }
    
    .column {
        width: 50%;
    }

    .center {
        width: 40%;
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}