<div class="container">
    <div class="column center column-container">
        <div>
            <div class="label">
                {{model.label}}
            </div>
            <div class="label-2">
                {{model.text}}
            </div>
            <div class="label-3">
                {{model.underText}}
            </div>
            <div>
                <img [src]="model.image" />
            </div>
        </div>
        
    </div>
    <div class="column">
        <div class="img-container">
            <img [src]="model.photo"/>
        </div>
        
    </div>
</div>
<app-footer></app-footer>