<div class="gpad">
    <h2>Settings</h2>
    <div>
        <button type="button" mat-raised-button color="accent" (click)="settings='home'">Home</button>
        <button type="button" mat-raised-button color="accent" (click)="settings='aboutme'">About</button>
        <button type="button" mat-raised-button color="accent" (click)="settings='contact'">Contact</button>
    </div>
   
    <div [ngSwitch]="settings" class="settings">
        <div *ngSwitchCase="'home'">
            <app-home-settings></app-home-settings>
        </div>
    
    </div>
</div>



